<!-- main idea of this page is to set out the text to be printed
and the defintions on the side of the page. As the mouse is hovered over the text
the defintion will be highlighted and scrolled to that spot. the defined word will be numbered -->

<!-- <!DOCTYPE html>
<htm
<head>
<meta charset="UTF-8">
<title>Lucid Text</title>
<link rel="stylesheet" href="resultPage.css">
</head>
<body>
<div class ="header">
<h1>Lucid Text</h1>
</div>
<div class="slidebar">
<input type="range" min="1" max="3" value="3" class="slider" id="myRange">
</div>
</body>
</html> -->
<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=ABeeZee|Alegreya|Chela+One|Do+Hyeon|Farsan|Gaegu|Great+Vibes|Indie+Flower|Kaushan+Script|Lobster|Merienda|Monoton|Montserrat|Philosopher|Satisfy|Vampiro+One" rel="stylesheet">
<head>
  <title>LucidText </title>
  <link rel="stylesheet" href="styles2/resultPage.css">
</head>
<body>
  <div id= "title_description">
    <div id="title">
      <h1>    Lucid Text </h1>
    </div>
    <div id= "description">
      <p> <center>diffitculty</center></p>
      <div <center> class="slidebar" </center>
        <input type="range" min="1" max="50" value="50" class="slider" id="myRange">
      </div>
    </div>
  </div>
  <div>
    <div style="display: flex; padding: 24px;">
    <div id="text_define">
      {% for item in wordList %}
        <span>
          {{item}}
        </span>
      {% endfor %}
    </div>
    <div id="divHiddenBox" style="display: none;">
      {% for item in hardWordList %}
        <span class="wordsHard" id="hiddenWord">
          {{item}}
        </span>
      {% endfor %}
    </div>
<div id="define">
  <p id="demo"></p>

  <!-- <script>
  console.log("hey")
  var hardDiv = document.querySelector('#divHiddenBox')
  var hardWords = document.getElementsByClassName('words')
  console.log(hardWords)
  var cars = ["BMW"];
  cars.forEach(function(hardWords) {
    cars.push(hardWords)
    console.log(hardWords)
  })


  var text = "";
  var i;

  for (i = 0; i < cars.length; i++) {
  text += "<div class = \"tabs\" >"  + (1+i ) + ". " + cars[i] + "</div> ";
  }
  document.getElementById("demo").innerHTML = text;
</script> -->
<button onclick="printDefintion()">Print defintion</button>
<!-- <script>
function printDefintion() {
  var printContent = document.getElementById("define").innerHTML;
  var originalContent = document.body.innerHTML;

     document.body.innerHTML = printContent;

     window.print();

     document.body.innerHTML = originalContent;
}
</script> -->
  <script src="/../scripts2/resultPage.js" type="text/javascript"></script>
  </div>
</div>
</div>
</div>
</body>

</html>
