<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=ABeeZee|Alegreya|Chela+One|Do+Hyeon|Farsan|Gaegu|Great+Vibes|Indie+Flower|Kaushan+Script|Lobster|Merienda|Monoton|Montserrat|Philosopher|Satisfy|Vampiro+One" rel="stylesheet">
  <head>
  <title>LucidText </title>
  </head>
  <body>
    <div id= "title_description">
      <div id="title">
      <h1>    Lucid Text </h1>
     </div>
    <div id= "description">
      <p> LucidText is an app that helps ease the process of reading research papers
with complex words by defining the words for the user. </p>
    </div>
    </div>
    <div id="text_define">
      <div id="text_entry">
        <label> Enter your text here: </label>
        <textarea type= "text" name="text"></textarea>
        <br>
      </div>
      <div id="define">
          <input type= "submit" value= 'Define'/>
      </div>
    </div>
  </body>
<!-- <a href="">go home </a> -->
  <link rel="stylesheet" href="../styles/welcome.css">
</html>
