<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Chela+One|Dancing+Script|Do+Hyeon|Eczar|Fjalla+One|Gaegu|Gloria+Hallelujah|Indie+Flower|Lobster|Merienda|Open+Sans+Condensed:300|Raleway|Roboto+Slab|Ubuntu" rel="stylesheet">
<head>
  <title>LucidText </title>
</head>
<body>
  <div id= "title_description">
    <div id="title">
      <h1>    Lucid Text </h1>
    </div>
    <div id= "description">
      <p> LucidText is an app that eases the process of reading research papers
        with complex words by defining the words for the user. </p>
      </div>
    </div>
    <form method = "post">
    <div id="text_define">
      <div id="text_entry">
        <label> Enter your text here: </label>
        <textarea type= "text" name="researchPaste"></textarea>
        <br>
      </div>
      <div id="define">
        <input type= "submit" name = "submitResearch" value= 'Define'/>
      </div>
    </div>
  </form>
  </body>
  <!-- <a href="">go home </a> -->
  <link rel="stylesheet" href="../styles2/welcome.css">
  <script src="../scripts2/welcome.js"></script>
  </html>
